/* --- Gruvbox Dark Palette --- */
/* Based on https://github.com/morhetz/gruvbox */
@define-color bg #282828;
@define-color bg0_h #1d2021;
@define-color bg0_s #32302f;
@define-color bg1 #3c3836;
@define-color bg2 #504945;

@define-color fg #ebdbb2;
@define-color fg1 #fbf1c7;
@define-color gray #928374;

@define-color red #fb4934;
@define-color green #b8bb26;
@define-color green2 #98971a;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color orange #fe8019;
/* --- End Palette --- */

* {
    /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 15px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: rgba(29, 32, 33, 0.0); /* bg0_h */
    color: @fg;
    font-family: 
        SpaceMono Nerd Font,
        feather;
    transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right
{
    margin: 5px 10px;
    padding: 0 5px;
    border-radius: 15px;
}
.modules-left {
    padding: 0;
}
.modules-center {
    padding: 0 10px;
}

.modules-left,
.modules-right,
.tray,
.custom-weather
{
  background: @bg0_h; /* bg0_s */
}

.custom-spotify {
    padding: 0 10px;
    margin: 0 4px;
    border-radius: 15px;
    background-color: @green2;
    color: @bg;
}

#clock {
  color: @aqua;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
    padding: 0 10px;
    border-radius: 15px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    background: rgba(60, 56, 54, 0.9); /* bg1 */
}


#workspaces button {
  background: transparent;
  font-weight: 900;
  font-size: 13pt;
  color: @fg;
  border:none;
  border-radius: 15px;
}

#workspaces button.active {
    background: @bg2; 
    color: @fg1;
}

#workspaces button:hover {
  background: @bg1;
  color: @fg1;
  box-shadow: none;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    transition: color .5s;
}
#custom-arch:hover {
    color: @blue;
}


#custom-weather {
  background-color: @bg0_h;
  border-radius: 15px;
  padding: 0 10px;
}
#cpu {
    color: @orange; /* fe8019 */
}
#memory {
    color: @yellow; /* fabd2f */
}
#temperature {
    color: @fg; /* Default: ebdbb2 */
}
#temperature.critical {
    color: @red; /* fb4934 */
}
#battery {
    color: @green; /* b8bb26 */
}
#battery.charging,
#battery.plugged {
    color: @green; /* b8bb26 */
}
#battery.warning {
    color: @yellow; /* fabd2f */
}
#battery.critical {
    color: @red; /* fb4934 */
}

#network {
    color: @blue; /* 83a598 */
}
#network.disconnected {
    color: @red; /* fb4934 */
}

#pulseaudio {
    color: @aqua; /* 8ec07c */
}
#pulseaudio.muted {
    color: @gray; /* 928374 */
}

#language {
    color: @purple; /* d3869b */
}

#idle_inhibitor.activated {
    color: @red; /* fb4934 */
}
#idle_inhibitor.deactivated {
    color: @gray; /* 928374 */
}
